.w-card {

    background:linear-gradient(181deg, #1d1d1da6, #00000061), url("https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;

    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: .06rem;
 
    &__main { //container

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: min-content;
        width: 100%;
        min-height: 100vh;
        padding: 5% 10% 5% 10%;
        background-size: cover;
        background-position: center;
        color: rgb(240, 240, 240);
        overflow: hidden;
    }

    &__slider { //container
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin-top: 2rem;
        overflow:scroll ;
        overflow-y: hidden;
        height: 30rem;
    }

    &__sCard { //container
        display: flex;
        width: 100%;
        justify-content: center;
        color: rgb(207, 207, 207);
    }

    &__sContent { //container
        margin: 1rem;
    }
}

// new block
.cw { //main container

    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    border-radius: 5%;
    overflow: hidden;
    font-size: 2rem;
    text-align: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    color: #e0e0e0;
   
    &__contentTop { //container

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 35rem;
        width: 100%;
        padding: 5rem 0 5rem 0;
        font-size: 2.5rem;  
        background-color: rgba(34, 34, 34, 0.651);
        backdrop-filter: blur(3px);
    }

    &__location {

        font-size: 6rem;
        font-weight: 300;
        letter-spacing: .25rem;
        text-transform: uppercase;
    }
    
    &__contentTd {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.7rem;
    }

    &__icon {
        height:7.5rem ;
        width:7.5rem ;
        margin-left: 1rem;
    }

    &__currentTemp {
        font-weight: 400;
    }

    &__day {
        font-weight: 300;
    }

    &__condition {

        font-size: 2rem;
        font-weight: 3e00;
        text-transform: uppercase;
        letter-spacing: .12rem;
    }

    &__weekday {

        text-transform: capitalize;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: .10rem;
    }

    &__lastUpdate {
        font-size: 1.2rem;
        font-weight: 300;
    }

    &__contentBottom {//parent container of below
        background-color: #fbfcffb7; 
        width: 100%;
        padding: 1rem 3rem 1rem 3rem;
        color: #707070;
    }

    &__info {//child container of above
        display: flex;
        justify-content: center;
        align-items: baseline;
        font-size: 1.2rem;
        letter-spacing: .15rem;
        margin: 1rem;
    } 

    &__infoItem {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: .5rem;
        text-transform: capitalize;
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.8rem;
    }

    &__text {
        font-size: 1.5rem;
    }
}
 