.hourlyForecast {

    
   display: flex;
   flex-direction: column;
   flex-shrink: 0;

   background-color: rgba(31, 31, 31, 0.466);
   border-radius: 10%;
   margin: 1rem;
   width: 14rem;
   height: 15rem;
   overflow: hidden;

   text-align: center;
   font-size: 1rem;
   font-weight: 300;
   line-height: 1.8rem;
   letter-spacing: .1rem;
   color: rgb(207, 207, 207);
   
        
    &__contentTop { //top content container

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 1rem, 0 , 0, 1rem;
        font-weight: 300;
    }

    &__hour {

        font-size: 2.5rem;
        letter-spacing: .3rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }

    &__contentBottom { //bottom content container
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: rgba(34, 34, 34, 0.651);
        height: min-content;
        text-transform: uppercase;
    }

    &__info { //container
       
       padding: 1rem;
    }

    
    &__infoTitle {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: .12rem;
    }

   &__infoText {
      font-size: 1rem;
      font-weight: 300;  
   }
   
}

